.git
.gitignore
.dockerignore
.idea
.vscode
*.log
*.swp
*.swo
*~
.DS_Store
node_modules
npm-debug.log
.env
.env.local
.env.*.local
target
*.jar.original
.classpath
.project
.settings
*.iml
.gradle
build
HELP.md
README.md
.mvn/wrapper/maven-wrapper.jar
